.upload-box{
    margin:25px 0;
}

.upload-label{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    border:2px dashed #2563eb;

    border-radius:12px;

    padding:40px;

    cursor:pointer;

    transition:.3s;

    background:#f8fbff;

}

.upload-label:hover{

    background:#eef5ff;

    border-color:#1d4ed8;

}

.upload-icon{

    font-size:48px;

    margin-bottom:15px;
    font-size:64px;

    color:#2563eb;

}

.upload-label h3{

    margin:10px 0;

}

.upload-label p{

    color:#555;

}

.upload-label small{

    margin-top:5px;

    color:#888;

}

.file-name{

    margin-top:18px;

    font-weight:bold;

    color:#2563eb;

}

.upload-box input{

    display:none;

}
@media (max-width:768px){

    .upload-label{

        padding:30px 20px;

    }

    .upload-icon{

        font-size:40px;

    }

}