.footer {

    margin-top: 60px;

    padding: 35px;

    background:var(--secondary);

    color: white;

    text-align: center;

}
.footer{

    transition:.2s;

}
.footer h2 {

    margin-bottom: 12px;

    font-size: 28px;

}

.footer p {

    margin: 8px 0;

    color: #cbd5e1;

}

.copyright {

    margin-top: 18px;

    font-size: 14px;

    color: #94a3b8;

}